* {
    font-family: 'Tilt Neon', sans-serif;
}

.container {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 30px auto;
}

/* ======================= picture ======================= */

img {
    border: 15px solid rgb(149, 180, 149);
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#picture {
    margin: 40px 0 0 20px;
}

#name {
    margin-left: 10px;
    color: rgb(88, 87, 87);
    letter-spacing: 2px;
}

/* ======================= left-column, contact ======================= */

.left-column {
    display: flex;
    flex-direction: column;
}

.contact {
    padding-left: 30px;
    padding-top: 40px;
    width: 400px;
    color: gray;
}

#phone-number {
    letter-spacing: 1px;
}

/* ======================= articles ======================= */

.experience {
    background-color: rgb(77, 75, 75);
    color: white;
    padding: 30px;
}

.experience p {
    color: rgb(199, 196, 196);
}

h3 {
    color: yellowgreen;
}
